.place__title {
    grid-area: title;
    font-style:  normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    align-self: end;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .place__title {
        width: 90%;
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto;
    }
}
