.place__image-container {
    justify-content: start;
}

@media screen and (max-width: 1280px) {
    .place__image-container {
        max-height: 460px;
        max-width: 460px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place__image-container {
        max-width: 440px;
        max-height: 440px;
    }
}

@media screen and (min-width: 720px) and (max-width: 1023px) {
    .place__image-container {
        max-width: 340px;
        max-height: 340px;
    }
}

@media screen and (min-width: 401px) and (max-width: 719px) {
    .place__image-container {
        max-width: 350px;
        max-height: 350px;
    }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
    .place__image-container {
        max-width: 320px;
        max-height: 320px;
    }
}
    
  
