.page {
    max-width: 1280px;
    background-color: #2A2C2F;
    font-family: 'Inter', Arial, 'Times New Roman', Times, sans-serif;
    color: #ffffff;
    padding-top: 28px;
    padding-bottom: 24px;
    margin: 0 auto;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .page {
        padding-top: 16px; 
    }
}

