@media screen and (min-width: 1280px) {
    .lead {
        max-width: 984px;
        padding: 56px 0 92px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead {
        width: 90.6%;
        padding: 48px 0 92px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead {
        width: 100%;
        padding: 48px 0 88px;
        margin: 0;
    }
}

@media screen and (min-width: 401px) and (max-width: 767px) {
    .lead {
        width: 100%;
        padding: 48px 0 80px;
        margin: 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
    .lead {
       width: 100%;
       padding: 48px 0 64px;
       margin: 0;
    }
}
