.cover__subtitle {
    grid-area: coverSubtitle;
    margin: 0 auto;
    padding: 0 0 245px 0;
    max-width: 360px;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover__subtitle {
        padding-bottom: 195px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover__subtitle {
        padding-bottom: 115px;
    }
}

@media screen and (min-width: 401px) and (max-width: 767px) {
    .cover__subtitle {
        padding-bottom: 115px;
    }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 90%;
        padding-bottom: 33px;
    }
}
