.place__web-url {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.2em;
    margin: 0;
    font-size: 12px;
    line-height: 12px;
    color: #aaaaaa;
}
