.header {
    box-sizing: content-box;
    display: grid;
    grid-template-areas: 
    "logo langs";
    column-gap: 78.6%;
    padding-top: 0;
    margin: 0 auto 0 auto;
}

@media screen and (min-width: 1280px) {
    .header {
        width: 92.5%; 
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .header {
        width: 91%;
        column-gap: 72.7%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
        width: 94%;
        column-gap: 65%;
    }
}

@media screen and (min-width: 401px) and (max-width: 767px) {
    .header {
        width: 92%;
        column-gap: 39%;
    }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
    .header {
        width: 90%;
        max-height: 42px;
        column-gap: 29%;
    }
}




