.lead__title {
    max-width: 720px;
    margin: 0 auto 32px auto;
    padding: 0;
    text-align: center;
    font-size: 96px;
    line-height: 100px;
    font-style:  normal;
    font-weight: 900;
}

@media screen and (min-width: 401px) and (max-width: 767px) {
    .lead__title {
        max-width: 500px;
        font-size: 60px;
        line-height: 64px; 
    }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px; 
    }
}
