.place__paragraph {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 24px;
}

.place__paragraph:nth-last-child(1) {
    margin-bottom: 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
    }
}

@media (max-width: 767px) {
    .place__paragraph {
        width: 90%;
        margin: 0 auto 24px auto;
        font-size: 16px;
        line-height: 26px;
    }
}