.footer__copyright {
    justify-self: end;
    font-size: 14px;
    line-height: 14px;
    font-style:  normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__copyright {
        justify-self: start;
        margin-top: 48px;
    }
}
