.intro__text {  
    margin-left: 0;
    padding: 0 0 92px;
    text-align: left;
}

@media screen and (max-width: 1280px) {
    .intro__text {
       max-width: 690px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .intro__text {
        max-width: 690px; 
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro__text {
        width: 93.7%;
        padding-bottom: 88px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 401px) and (max-width: 767px) {
    .intro__text {
        width: 90%;
        padding-bottom: 88px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
    .intro__text {
       max-width: 288px;
       padding-bottom: 64px;
       margin: 0 auto;
    }
}
