@media screen and (max-width: 1280px) {
    .intro {
        width: 77.7%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .intro {
        width: 90.6%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro {
        width: 100%;
        margin: 0;
    }
}

@media screen and (min-width: 401px) and (max-width: 767px) {
    .intro {
        width: 100%;
        margin: 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
    .intro {
       width: 100%;
       margin: 0;
    }
}
