.lead__subtitle {
    max-width: 640px;
    margin: 0 auto 64px auto;
    padding: 0;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-style: normal;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .lead__subtitle {
        margin: 0 auto 56px auto;
    }
}

@media screen and (min-width: 401px) and (max-width: 767px) {
    .lead__subtitle {
        max-width: 500px;
        margin: 0 auto 45px auto;
        font-size: 24px;
        line-height: 28px;
    }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
    .lead__subtitle {
        max-width: 288px;
        margin: 0 auto 40px auto;
        font-size: 16px;
        line-height: 20px;
    }
}
