.lead__image-text {
    margin: 8px 0;
    padding: 0;
    font-size: 10px;
    line-height: 14px;
    font-style:  normal;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__image-text {
        margin-left: 24px;
    }
}

@media screen and (min-width: 401px) and (max-width: 767px) {
    .lead__image-text {
        margin-left: 20px;
    }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
    .lead__image-text {
        margin-left: 16px;
    }
}
