 .cover__title {
    max-width: 560px;
    grid-area: coverTitle;
    margin: 0 auto;
    padding: 245px 0 0 0;
    font-style:  normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #ffffff;
    z-index: 1;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover__title { 
        padding-top: 195px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover__title { 
        padding-top: 115px;
    }
}

@media screen and (min-width: 401px) and (max-width: 767px) {
    .cover__title {
        width: 90%;
        font-size: 37px;
        line-height: 40px;
        padding-top: 33px;
    }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        width: 90%;
        padding-top: 33px;
    }
}


